@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $salmon;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
}

h1 {
  color: red;
}

p {
  color: darkblue;
}

header a {
  display: block;
}

.menu__list {
  background-color: #52ACFF;
  background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu__link {
  color: #000;
  text-decoration: none;
}

.menu__button {
  position: absolute;
  top: 40px;
  right: 100px;
  height: 20px;
  background: #fff;
  border-style: none;
}

.menu__list--visible {
  display: none;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
}


@media (max-width: 640px) {
  .posts {
    grid-template-columns: 1fr;
  }

  .menu__list {
    flex-direction: column;
  }
}